[user]
    name = Anthony Vicente
    email = anthony@mvicente.com
    signingKey = B5E9B128F8CBA90DD54A57A98B4CE6CDC2CE4BEE
[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an - %G? - %GS]' --graph --date=short
    pushall = !git remote | xargs -L1 git push --all
    trackedls = ls-tree -r master --name-only
[color]
    ui = auto
[push]
    default = simple
[core]
    excludesfile = /home/anthony/.gitignore_global
[commit]
    gpgsign = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
