[user]
    name = Anthony Vicente
    email = anthony@mvicente.com
    signingKey = <SIGNING_KEY> // replace with signing key fingerprint
[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an - %G? - %GS]' --graph --date=short
    pushall = !git remote | xargs -L1 git push --all
    trackedls = ls-tree -r master --name-only
[color]
    ui = auto
[push]
    default = simple
[core]
    excludesfile = /home/anthony/.gitignore_global
[commit]
    gpgsign = true
