XTerm*termName:                       xterm-256color
URxvt*termName:                       rxvt-unicode
URxvt*iso14755:                       false
URxvt*scrollBar:                      false
URxvt*scrollTtyKeypress:              true
URxvt*fading:                         35
URxvt*fadeColor:                      #6D878D
URxvt*cursorBlink:                    true
URxvt*font:                           xft:Meslo LG S DZ for Powerline:size=8,xft:Noto Color Emoji:size=8,xft:Symbola:pixelsize=14:antialias=true:hinting=slight
Xft.dpi:                              96
Xft.antialias:                        true
Xft.rgba:                             rgb
Xft.hinting:                          true
Xft.hintstyle:                        hintslight
Xft.lcdfilter:                        lcddefault

URxvt.perl-ext-common:                default,clipboard,url-select,keyboard-select
URxvt.url-launcher:                   /usr/bin/xdg-open
URxvt.colorUL:                        #71B5EE
URxvt.url-select.underline:           true
URxvt.keysym.M-u:                     perl:url-select:select_next
URxvt.keysym.M-Escape:                perl:keyboard-select:activate
URxvt.keysym.M-s:                     perl:keyboard-select:search

URxvt.depth:                          32

URxvt*foreground: #DDCCBB

! Grey BG
URxvt*background: #151515

! black/dark-gray
*.color0:       #101010
*.color8:       #454545
! red/orange
*.color1:       #EFA6A2
*.color9:       #E0AF85
! green/aquamarine
*.color2:       #80C990
*.color10:      #5ACCAF
! amber/yellow
*.color3:       #A69460
*.color11:      #C8C874
! blue/violet
*.color4:       #A3B8EF
*.color12:      #CCACED
! magenta/rose
*.color5:       #E6A3DC
*.color13:      #F2A1C2
! cyan/azure
*.color6:       #50CACD
*.color14:      #74C3E4
! gray/white
*.color7:       #808080
*.color15:      #C0C0C0
